body {
    font-family: Arial;
    direction: rtl;
    text-align: center;
    background: #f0f0f0;
}

table {
    border-collapse: collapse;
    margin: auto;
    background: white;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
}

select {
    width: 70px;
}

.controls input, .controls select, .controls button {
    margin:5px; 
    padding:5px;
}
